# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
HELP.md
.gradle
gradle.properties
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
src/main/generated/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

*.tsbuildinfo
### VS Code ###
.vscode/

.eslintcache
# MacOS
.DS_Store

# Cypress
/cypress/videos/
/cypress/screenshots/
# Gradle
.gradle/

# Vitest
__screenshots__/
# IntelliJ / VSCode
.idea/

# Vercel
.vercel/
# Node / Frontend
node_modules/
dist/
frontend/smerp-client/node_modules/
frontend/smerp-client/dist/
frontend/smerp-client/.vite/

# Environment
.env
.env.*
docs/secret.yaml

# Logs & temp
*.log
*.tmp

# Test Data
*.sql
src/test/

# 시크릿
**/secret.yaml

# temp
.Spotlight-V100
.Trashes

